<style xmlns:padding-top="http://www.w3.org/1999/xhtml">
    .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }
    .left {
        left: 0;
        background-color: #e91e63;
    }
    .right {
        right: 0;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    /*.centered img {*/
        /*width: 150px;*/
        /*border-radius: 50%;*/
    /*}*/
	.img{
		min-width: 70px;
		min-height: 70px;
		max-width: 250%;
		max-height: 250%;
		top: -50%;
		left: -50%;
		bottom: -50%;
		right: -50%;
		position: absolute;
	}
</style>
<div class="row">
    <div  class="split left">
        <!-- <div style="background: #e91e63; height: 100vh;" class="col s8 "> -->
        <span class="flow-text">
			<h1 style="padding-top:30%; padding-bottom:30%; color: white; text-align: center;">Waridi</h1>
		</span>
    </div>
    <div class="split right">
		<span class="flow-text">
			<div class="col s12" style="">
				<h1 style="color: #e91e63;" ng-hide="regsuc === 0">Register</h1>
				<div style="padding-top: 8%" ng-show="regsuc === 0" >
					<h1 style="color: #4edd41; text-align: center" >Success</h1>
					<div style="padding-bottom: 3%"><img class="img-responsive center-block"  alt="slay" src="img/suc.png"></div>
					<div class="progress">
						<div class="indeterminate"></div>
					</div>
				</div>
				<div ng-hide="regsuc === 0">
						<div class="row" >
								<div class="input-field col s12">
									<input ng-model="user.firstname" id="fname" type="text" class="validate">
										<label for="fname">First Name</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input ng-model="user.lastname" id="lname" type="text" class="validate">
											<label for="lname">Last Name</label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<input ng-model="user.gender" id="gender" type="text" class="validate">
												<label for="gender">Gender</label>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<input ng-model="user.phone" id="phone" type="text" class="validate">
													<label for="phone">Mobile Number</label>
												</div>
										</div>
										<div class="row" hidden>
											<div class="input-field col s12">
												<input ng-model="user.role" id="role" type="text" class="" value="user" disabled>
													<label for="role">Role</label>
												</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<input ng-model="user.email" id="email" type="email" class="validate">
													<label for="email">Email</label>
												</div>
											</div>
										<div class="row">
											<div class="input-field col s12">
												<input ng-model="user.password" id="password" type="password" class="validate">
													<label for="password">Password</label>
												</div>
											</div>
										<div>
			
												<div class="progress" ng-if="regload === 'load'" ng-hide="regsuc === 0">
														<div class="indeterminate"></div>
												</div>	
										<button ng-click="reg(user)" style="width: 100%;" class="btn waves-effect pink" type="submit" name="action">Register
													<i class="material-icons right">send</i>
										</button>
									</div>
											<!-- <div class="row"> -->
											<a href="#!login">
												<label style="color: #ed2f59; text-align: center">
												Already Registered? Click here to login
												</label>
											</a>
				</div>
				
	<!-- </div> -->
							</div>
						
								
						</span>
    </div>
</div>

